# Python
__pycache__/
*.pyc
.venv/
venv/
*.db
backend/storage/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
.env
backend/.env

.env
*.env
.venv/
__pycache__/
*.py[cod]
